# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# mac
.DS_Store

# model weight
*.pth
*.pt
*.onnx
*.trt
*.npz
*.bin
*.safetensors

# python
.pytest_cache
__pycache__/
*.pyc

# vscode and pycharm / clion
.vscode/
.idea/

# Logs
*.log

# build
build/
